@charset "UTF-8";

@font-face {
    font-family: 'GraphikRegular';
    src: url('fonts/GraphikRegular.otf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'GraphikRegular';
    text-decoration: none;
}

.cabeçalho {
    width: 100vw;
    height: 56px;
    padding: 0px 48px;
    background-color: white;
    border-bottom: 1px solid #e4e1e1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 1;
}

nav {
    margin-right: auto;
    margin-left: 35px;
}

.header-logo {
    width: 44px;
    height: 56px;
}

ul {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.link-login {
    width: 100px;
    height: 56px;
    color: #883bbb;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

span.material-symbols-outlined {
    color: #883bbb;
    font-weight: bold;
}

#burguer {
    display: none;
}

select {
    border: none;
}

ul a {
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    color: #111111;
}

.lista1, .lista2, .lista3, .lista4, .lista5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista1 {
    width: 105px;
    height: 56px;
    margin: 0px 15px 0px 0px;
}

.lista1 a {
    width: 100%;
}

.lista2 {
    width: 102px;
    height: 56px;
    margin: 0px 20px 0px 0px;
}

.lista2 a {
    width: 100%;
}

.lista3 {
    width: 159px;
    height: 56px;
    margin: 0px 20px 0px 0px;
}

.lista3 a {
    width: 100%;
}

.lista4 {
    width: 102.55px;
    height: 56px;
    margin: 0px 20px 0px 0px;
}

.lista4 a {
    width: 100%;
}

.lista5 {
    width: 75.80px;
    height: 56px;
}

.lista5 a {
    width: 100%;
}

.banner-principal {
    width: 100%;
    height: 601px;
    background-image: url('imagens/banner-principal.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    top: 56px;
    z-index: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.container {
   width: 503.42px;
   height: 206.69px;
   margin-left: 156px;
   margin-top: 11px;
}

.titulo-principal {
    width: 503.42px;
    height: 111.33px;
    font-size: 48px;
    line-height: 55.7px;
    letter-spacing: -1.4px;
    color: white;
    margin-bottom: 15px;
}

.titulo-secundario {
    width: 503.42px;
    height: 63.33px;
    font-size: 24px;
    line-height: 31.7px;
    letter-spacing: -0.5px;
    font-weight: 600;
    color: white;
    margin-bottom: 16px;
}

form {
    max-width: 330px;
    height: 303.34px;
    background-color: white;
    border-radius: 20px;
    padding: 24px;
    margin-right: 50px;
    margin-top: 10px;
}

form h1 {
    width: 260.19px;
    height: 60.67px;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.7px;
    letter-spacing: -0.5px;
}

.input {
    width: 282px;
    height: 96px;
    padding: 16px 0px;
}

input#cpf {
    width: 282px;
    height: 40.75px;
    padding: 8px 0px;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid rgba(160, 157, 157, 0.61);
   
}

button {
    width: 282px;
    height: 48px;
    border: none;
    margin: 0px 0px 16px;
    padding: 0px 20px;
    border-radius: 25px;
    background-color: rgba(151, 150, 150, 0.26);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button a {
    font-size: 16px;
    color: rgba(133, 130, 130, 0.575);
}

div.material-symbols-outlined {
    color: rgb(88, 86, 86);
}

.banner-secundário {
    width: 100%;
    height: 569px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
}

.container-secundário {
    width: 664px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 110px 0px 64px 62px;
}

.container-secundário h1 a {
    width: 385.11px;
    margin-bottom: 10px;
    color: #820AD1;
    font-size: 48px;
}

.container-secundário h1 a:hover {
    text-decoration: underline;
    color: #820AD1;
}

.container-secundário h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -1.2px;
    width: 605px;
    height: 210px;
}

.saiba:hover {
    text-decoration: underline;
}

.saiba {
    color: #820AD1;
    width: 123px;
    height: 24.3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    letter-spacing: -0.2px;
    display: flex;
    margin-top: 32px;
}

.cards {
    width: 550px;
    height: 430px;
    margin-right: auto;
    padding-left: 50px;
}

.banner-secundário-ultra {
    width: 100%;
    height: 625px;
    font-size: 39px;
    margin: auto;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-secundário-ultra {
    width: 610px;
    height: 280px;
    margin-top: 222px;
    margin-left: 163px;
    line-height: 55px;
}

.container-secundário-ultra a {
    color: #820AD1;
    margin-top: 30px;
}

.container-secundário-ultra h1 a:hover {
    text-decoration: underline;
    color: #820AD1;
}

.cards-ultra {
    width: 391px;
    height: 385px;
    margin-top: 137px;
    margin-left: 23px;
}

.celular {
    width: 284px;
    height: 479px;
    margin-left: 89px;
}

.banner-secundário-celular {
    width: 100%;
    height: 657px;
    font-size: 39.5px;
    margin: auto;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-secundário-celular {
    width: 609px;
    height: 280px;
    margin-top: 10px;
    margin-left: 75px;
    line-height: 55px;
}

.container-secundário-celular a {
    color: #820AD1;
}

.container-secundário-celular a:hover {
    text-decoration: underline;
}

.saiba-celular {
    color: #820AD1;
    width: 300px;
    height: 24.3px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    letter-spacing: -0.2px;
    display: flex;
    flex-direction: row;
}

.banner-secundário-pj {
    width: 100%;
    height: 657px;
    font-size: 39px;
    color: #FFFFFF;
    margin: auto;
    background-color: #4C0677;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-secundário-pj {
    width: 610px;
    height: 280px;
    margin-top: 8px;
    margin-left: 163px;
    line-height: 55px;
}

.cards-pj {
    width: 391px;
    height: 375px;
    margin-left: 23px;
}

.container-secundário-pj a {
    color: #FFFFFF;
}

.container-secundário-pj a.saiba {
    margin-top: 30px;
}

#saiba {
    color: #FFFFFF;
    font-weight: normal;
    margin-left: 3px;
}

.banner-pessoas {
    width: 100%;
    height: 680px;
    font-size: 40px;
    background-image: url('imagens/banner-pessoas1.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-secundário-pessoas {
    width: 664px;
    height: 407px;
    margin: 100px 0px 0px 110px;
    padding: 64px;
    line-height: 55px;
    color: white;
}

.saiba-pessoas {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.saiba-pessoas span.material-symbols-outlined {
    color: white;
}

.banner-pessoas2 {
    width: 100%;
    height: 670px;
    font-size: 39.5px;
    background-image: url('imagens/banner-pessoas2.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-secundário-pessoas2 {
    width: 605px;
    height: 280px;
    margin-top: 132px;
    margin-left: 175px;
    line-height: 55px;
    color: white;
}

.sub-container {
    margin-bottom: 8px;
}

.banner-pessoas3 {
    width: 100%;
    height: 680px;
    font-size: 39.5px;
    background-image: url('imagens/banner-homem.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-secundário-pessoas3 {
    width: 550px;
    height: 280px;
    margin-top: 192px;
    margin-left: 175px;
    line-height: 55px;
    color: white;
}

footer {
    width: 100%;
    height: 1265.25;
    background-color: #111111;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.2px;
}

.rodapé-primário {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 80px;
    padding: 80px 56px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.048);
}

.footer-container, .footer-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 309.25px;
    height: 309.75px;
    color: #FFFFFF;
}

.footer-container p, .footer-container-1 p {
    margin-bottom: 25px;
}

.footer-container a, .footer-container-1 a {
    color: #FFFFFF;
    font-weight: bold;
}

.footer-container a:hover {
    color: #AB4BEA;
}

.footer-container-1 a:hover {
    color: #AB4BEA;
}

.footer-container-ex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 5px;
    gap: 15px;
    width: 309.25px;
    height: 309.75px;
    color: #FFFFFF;
}

.footer-container-ex p {
    margin-bottom: 25px;
}

.footer-container-ex a {
    color: #FFFFFF;
    font-weight: bold;
}

.footer-container-ex a:hover {
    color: #AB4BEA;
}

.footer-subcontainer, .footer-subcontainer-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    width: 309.25px;
    height: 341.5px;
    color: #FFFFFF;
}

.footer-subcontainer-1 img {
    margin-left: 0px;
}

.footer-subcontainer a, .footer-subcontainer-1 a {
    color: #FFFFFF;
}

.footer-subcontainer a:hover {
    color: #AB4BEA;
}

.footer-subcontainer-1 a:hover {
    color: #AB4BEA;
}

.footer-subcontainer p, .footer-subcontainer-1 p {
    margin-bottom: 25px;
}

.footer-subcontainer-1 img {
    width: 151px;
    height: 56px;
}

p.footer-atend {
    font-size: 16px;
}

footer .material-symbols-outlined {
    color: #FFFFFF;
}


.rodapé-secundário {
    height: 209px;
    padding: 80px 56px;
    display: flex;
    justify-content: flex-start;
}

.logo-footer {
    width: 44px;
    height: 24px;
    margin-left: 0px;
    margin-right: 53px;
}

.footer1 {
    width: 600px;
    margin-right: 279px;
    height: 48px;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
}

.footer2 {
    width: 260px;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

.footer2 img {
    width: 20px;
    height: 20px;
}

.rodapé-terciário {
    height: 164px;
    padding: 40px 56px;
    border-top: 1px solid rgba(255, 255, 255, 0.048);
    display: flex;
    justify-content: flex-end;
}

.footer-final {
    height: 84px;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
    margin: 0px;
}

#port {
    margin-left: 5px;
}

#eng {
    margin-left: 5px;
}

@media screen and (max-width: 940px) {

    nav {
        display: none;
    }

    .link-login {
        display: none;
    }

    #burguer {
        display: block;
    }

    .cabeçalho {
        justify-content: space-between;
    }
}


@media screen and (max-width: 1151px) {

    .cabeçalho {
        height: 64px;
        position: fixed;
    }

    .banner-principal {
        height: 718px;
        display: flex;
        background-position: right bottom;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .titulo-secundario {
        width: 620px;
    }

    .container {
        margin-left: 30px;
    }

    form {
        margin-top: 30px;
        margin-right: 30px;
        align-self: flex-end;
    }

    .banner-secundário {
        justify-content: space-between;
        align-items: center;
        height: 530px;
        padding: 0px 0px 0px 25px;
    }

    .container-secundário {
        width: 600px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 0px 0px 40px;
        line-height: 55.7px;
        letter-spacing: -1.4px;
    }

    .container-secundário h1 a {
        font-size: 42px;
    }

    .container-secundário h1 {
        width: 530px;
        font-size: 42px;
    }

    .cartão-nubank {
        width: 450px;
        height: 320px;
        padding-right: 30px;
    }

    .cards {
        width: 450px;
        height: 320px;
        
    }

    .banner-secundário-ultra {
        justify-content: space-around;
        align-items: center;
        height: 580px;
    }

    .container-secundário-ultra {
        width: 520px;
        height: 280px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 0px;
        margin-left: 0px;
    }

    .container-secundário-ultra h1 a {
        font-size: 42px;
    }

    .container-secundário-ultra h1 {
        font-size: 42px;
    }

    .cards-ultra {
        width: 420px;
        height: 320px;
        margin: 0px;
    }

    .banner-secundário-celular {
        justify-content: space-around;
        height: 580px;
        align-items: center;
    }

    .container-secundário-celular {
        align-self: center;
        width: 520px;
        height: 280px;
        margin: 0px;
        line-height: 55px;
    }

    .container-secundário-celular h1 {
        font-size: 42px;
    }

    .container-secundário-celular h1 a {
        font-size: 42px;
    }

    img.celular {
        margin: 0px;
    }
    
    .banner-secundário-pj {
        justify-content: space-around;
        height: 580px;
        align-items: center;
    }

    .container-secundário-pj {
        width: 520px;
        height: 280px;
        align-items: center;
        margin: 0px;
    }

    .cards-pj {
        width: 380px;
        height: 300px;
    }

    .banner-pessoas {
        justify-content: flex-start;
        align-items: center;
        height: 590px;
        background-position: center bottom;
    }

    .container-secundário-pessoas {
        width: 520px;
        height: 520px;
        margin: 0px;
        padding: 64px;
    }

    .banner-pessoas2 {
        justify-content: flex-start;
        align-items: center;
        height: 590px;
        background-position: left bottom;
    }

    .container-secundário-pessoas2 {
        width: 600px;
        height: 480px;
        margin: 0px;
        padding: 64px;
    }

    .banner-pessoas3 {
        justify-content: flex-start;
        align-items: flex-start;
        height: 590px;
        background-position: left bottom;
    }

    .container-secundário-pessoas3 {
        margin: 0px;
        width: 520px;
        height: 480px;
        padding: 64px;
    }

    .rodapé-primário {
        gap: 100px;
    }

    .footer1 {
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {

    br {
        display: none;
    }

    .cabeçalho {
        position: fixed;
        justify-content: space-between;
        padding: 0px 30px 0px 32px;
    }

    .banner-principal {
        width: 100vw;
        height: 805px;
        background-position: center center;
        justify-content: center;
        align-items: flex-start;
        background-position: top right;
        background-color: black;
    }

    .container {
        width: 469.33px;
        height: 262.36px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .titulo-principal {
        width: 400px;
        height: 167.02px;
        font-size: 48px;
        margin: 0px 0px 16px 5px;
    }

    .titulo-secundario {
        width: 450px;
        height: 63.34px;
        font-size: 24px;
    }

    form {
        align-self: center;
        justify-content: center;
        height: 300px;
        margin: 50px 30px 40px 0px;
        padding: 24px;
        margin-left: auto;
    }

    form h1 {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .banner-secundário {
        height: 655px;
        
    }

    .container-secundário {
        width: 350px;
        height: 527.64px;
        padding: 64px 30px;
        margin: 0px;
    }

    .container-secundário h1 a {
        font-size: 48px;
        width: 320px;
        height: 111.34px;
    }

    .container-secundário h1 {
        font-size: 40px;
        width: 315px;
        line-height: 50px;
        height: 380px;
    }

    .cards {
        width: 320px;
        height: 251px;
        margin: 0px;
        padding: 0px;
    }

    .banner-secundário-ultra {
        height: 750px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 70px;
    }

    .container-secundário-ultra {
        margin: 50px 0px 0px 48px;
    }

    .cards-ultra {
        align-self: flex-end;
        margin-right: 48px;
        margin-bottom: 30px;
        height: 350px;
    }

    .banner-secundário-celular {
        height: 450px;
    }

    .container-secundário-celular {
        width: 460px;
        height: 311px;
    }

    .celular {
        width: 223px;
        height: 376px;
    }

    .banner-secundário-pj {
        height: 850px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 70px;
    }

    .container-secundário-pj {
        padding-left: 50px;
        margin-top: 70px;
    }

    .cards-pj {
        width: 430px;
        height: 380px;
        align-self: flex-end;
        margin-right: 40px;
    }

    .banner-pessoas {
        height: 765px;
    }

    .container-secundário-pessoas {
        width: 384px;
        height: 765px;
    }

    .container-secundário-pessoas a {
        width: 330px;
    }

    .banner-pessoas2 {
        height: 576px;
        background-position: left center;
        background-size: 1400px;
    }

    .container-secundário-pessoas2 {
        padding: 0px 64px;
    }

    .banner-pessoas3 {
        background-position: center center;
        background-size: 1400px;
    }

    .container-secundário-pessoas3 {
        width: 293px;
        height: 334px;
        padding: 64px 64px;
    }

    .container-secundário-pessoas3 h1 {
        width: 293px;
    }

    .saiba-pessoas {
        width: 200px;
    }

    .rodapé-primário {
        gap: 0px;
        padding: 80px 40px 10px 40px;
    }

    .rodapé-secundário {
      flex-direction: column;
      gap: 40px;
      height: 300px;
      padding: 50px 50px;
    }

    .footer1 {
        height: 40px;
    }

    .footer2 {
        justify-content: flex-start;
    }

    .rodapé-secundário p {
        font-size: 16px;
    }

    .footer-container, .footer-container-1, .footer-container-ex, .footer-subcontainer {
        width: 310px;
        margin-bottom: 50px;
    }

    .footer-subcontainer-1 {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 425px) {

    .cabeçalho {
        padding: 0px 20px 0px 20px;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .banner-principal {
        background-position: bottom bottom;
        width: auto;
        height: 830px;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        top: 64px;
        z-index: 000;
    }

    .container {
        flex: 2;
        width: auto;
        margin: 0px 0px 30px 35px;
        justify-content: flex-end;
    }

    .titulo-principal {
        font-size: 28px;
        width: 317px;
        height: 71px;
        margin: 0px 0px 16px 0px;
        line-height: 36px;
        letter-spacing: -0.9px;
    }

    .titulo-secundario {
        font-size: 20px;
        width: 338px;
        height: 73px;
        line-height: 24.4px;
        letter-spacing: -0.4px;
    }

    form {
        flex: 1;
        align-self: center;
        margin: 10px 60px 50px 30px;
    }

    form h1 {
        font-size: 20px;
        line-height: 25px;
    }

    input#cpf {
        font-size: 12px;
    }

    .banner-secundário {
        height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 64px 0px 0px 0px;
    }

    .cards {
        margin: 50px 24px 50px 24px;
        width: 377px;
        height: 297px;
    }

    .container-secundário {
        width: 390px;
        height: 250px;
        padding: 60px 40px 40px 0px;
    }

    .container-secundário h1 a {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.9px;
    }

    .container-secundário h1 {
        font-size: 24px;
        line-height: 31.7px;
        letter-spacing: -0.9px;
        width: 375px;
    }

    .banner-secundário-ultra {
        height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 64px 0px 0px 0px;
    }

    .cards-ultra {
        margin: 50px 24px 70px 24px;
        width: 377px;
        height: 297px;
    }

    .container-secundário-ultra {
        width: 377px;
        height: 188px;
        padding: 60px 40px 40px 0px;
        margin: 30px;
    }

    .container-secundário-ultra h1 a {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.9px;
    }

    .container-secundário-ultra h1 {
        font-size: 24px;
        line-height: 31.7px;
        letter-spacing: -0.9px;
        width: 306px;
    }

    .banner-secundário-celular {
        background-color: #FFFFFF;
        height: 750px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 20px 0px 0px 0px;
    }

    .celular {
        flex: 2;
        margin: 50px 24px 50px 24px;
        width: 240px;
        height: 403px;
    }

    .container-secundário-celular {
        flex: 1;
        width: 390px;
        height: 250px;
        padding: 40px 40px 40px 10px;
    }

    .container-secundário-celular h1 a {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.9px;
    }

    .container-secundário-celular h1 {
        font-size: 30px;
        line-height: 31.7px;
        letter-spacing: -0.5px;
        width: 320px;
    }

    .container-secundário-pj {
        width: 377px;
        height: 224px;
        margin: 50px 0px 0px 0px;
        padding: 0px 0px 0px 30px;
    }

    .container-secundário-pj h1 {
        font-size: 30px;
        line-height: 31.7px;
        letter-spacing: -0.9px;
    }

    .rodapé-primário {
        justify-content: flex-start;
        height: auto;
        padding: 60px 40px 0px 40px;
    }

    .footer-container {
        width: 450px;
        height: 310px;
    }

    .footer-container-1 {
        width: 450px;
        height: 220px;
    }

    .footer-container-ex {
        width: 450px;
        height: 310px;
    }

    .footer-subcontainer {
        width: 450px;
    }

    .footer-subcontainer-1 {
        width: 450px;
        height: 220px;
    }

    .rodapé-secundário {
        height: 350px;
        flex-direction: column;
        gap: 30px;
        padding: 50px;
        justify-content: center;
    }

    .footer-final {
        width: auto;
    }
}












